// * dark.less

// This file exports directly to a userstyle CSS file, ready for use
// in the browser.  It also contains the only differences between the
// light and dark themes.

@-moz-document domain("github.com") {
    @import "solarized.less";

    // ** Colors
    @color-background: @base03;
    @color-background-highlight: @base02;
    @color-background-highlight-extra: @base01;
    @color-border: @base00;
    @color-text: @base0;
    @color-text-comment: @base01;
    @color-text-emphasized: @base1;

    // ** Mixins

}