@-moz-document domain("github.com") {
  * {
    border-color: #eee8d5 !important;
  }
  a {
    color: #268bd2 !important;
  }
  body {
    background-color: #fdf6e3 !important;
    color: #657b83 !important;
  }
  input,
  .input-mini,
  .input-contrast,
  input.input-contrast,
  textarea,
  .comment-form-textarea * {
    background-color: #eee8d5 !important;
    color: #657b83 !important;
  }
  .boxed-group * {
    border-color: #93a1a1 !important;
  }
  .boxed-group article {
    background-color: #fdf6e3 !important;
    color: #657b83 !important;
  }
  .boxed-group > h3 {
    background-color: #eee8d5 !important;
    color: #586e75 !important;
  }
  .breadcrumb strong.final-path {
    color: #657b83 !important;
  }
  .btn {
    background-image: linear-gradient(#93a1a1, #eee8d5) !important;
    border-color: #93a1a1 !important;
    color: #586e75 !important;
  }
  .btn-primary,
  .issues-listing .btn-primary {
    background-color: #859900 !important;
    background-image: linear-gradient(#859900, #424d00) !important;
    color: #586e75 !important;
  }
  .contrib-number {
    color: #586e75 !important;
  }
  .counter {
    background-color: #93a1a1 !important;
    color: #586e75 !important;
  }
  .diffstat-bar {
    color: #657b83 !important;
  }
  .file-header {
    background-color: #eee8d5 !important;
  }
  .file-history-tease .participation {
    background-color: #fdf6e3 !important;
  }
  .file-wrap {
    background-color: #fdf6e3 !important;
    border-color: #93a1a1 !important;
    color: #657b83 !important;
  }
  .file-wrap * {
    background-color: #fdf6e3 !important;
  }
  .filter-item {
    color: #657b83 !important;
  }
  .filter-item.selected {
    background-color: #eee8d5 !important;
    color: #586e75 !important;
  }
  .flash {
    background-color: #eee8d5 !important;
    color: #586e75 !important;
  }
  .gh-header-number {
    color: #93a1a1 !important;
  }
  .hidden-text-expander a {
    background-color: #eee8d5 !important;
  }
  .issue-meta {
    color: #93a1a1 !important;
  }
  .issues-listing a {
    color: #657b83 !important;
  }
  .discussion-timeline:before {
    background-color: #839496 !important;
  }
  .markdown-body a {
    color: #268bd2 !important;
  }
  .markdown-body code,
  .markdown-body pre {
    background-color: #eee8d5 !important;
  }
  .new-user-avatar-cta {
    background-color: #eee8d5 !important;
    color: #586e75 !important;
  }
  .overall-summary {
    border-color: #93a1a1 !important;
  }
  .progress-bar {
    background-color: #93a1a1 !important;
  }
  .social-count {
    background-color: #eee8d5 !important;
    border-color: #93a1a1 !important;
    color: #586e75 !important;
  }
  .scope-badge {
    background-color: #93a1a1 !important;
    color: #586e75 !important;
  }
  .subnav-item.selected {
    background-color: #eee8d5 !important;
  }
  .stats-switcher-wrapper {
    background-color: #fdf6e3 !important;
  }
  .table-list-header-toggle .btn-link {
    color: #93a1a1 !important;
  }
  .table-list-header-toggle .btn-link.selected {
    color: #657b83 !important;
  }
  .text-emphasized {
    color: #586e75 !important;
  }
  .text-diff-added {
    color: #859900 !important;
  }
  .text-diff-deleted {
    color: #dc322f !important;
  }
  .timeline-comment-avatar {
    filter: opacity(50%);
  }
  .branch-action-body {
    background-color: #eee8d5 !important;
  }
  .branch-action-state-clean .branch-action-icon {
    background-color: #859900 !important;
  }
  .commit,
  .commit-meta,
  .commit-icon .octicon {
    background-color: #fdf6e3 !important;
  }
  .commit-ref {
    background-color: #eee8d5 !important;
    color: #586e75 !important;
  }
  .commit-ref .user {
    color: #2aa198 !important;
  }
  .commit-tease,
  .commit-title {
    background-color: #eee8d5 !important;
    border-color: #586e75 #586e75 #93a1a1 #586e75 !important;
  }
  .commit-tease *,
  .commit-title *,
  .commit-tease .sha-block,
  .commit-title .sha-block {
    background-color: #eee8d5 !important;
    color: #93a1a1 !important;
  }
  .commit-tease .commit-meta,
  .commit-title .commit-meta,
  .commit-tease .commit-meta *,
  .commit-title .commit-meta * {
    background-color: #fdf6e3 !important;
  }
  .commit-tease a,
  .commit-title a {
    color: #657b83 !important;
  }
  .commit-tease .sha,
  .commit-title .sha {
    color: #657b83 !important;
  }
  .conversation-list-heading .inner {
    background-color: #fdf6e3 !important;
  }
  .blankslate {
    background-color: #eee8d5 !important;
    color: #586e75 !important;
  }
  .comment-form-head.tabnav {
    background-color: #fdf6e3 !important;
  }
  .discussion-item-closed .discussion-item-icon {
    background-color: #dc322f !important;
    color: #586e75 !important;
  }
  .discussion-timeline-actions {
    background-color: #fdf6e3 !important;
  }
  .drag-and-drop {
    background-color: #eee8d5 !important;
  }
  .new-discussion-timeline .closed-banner {
    background-color: #839496 !important;
    border-color: #fdf6e3 !important;
  }
  .timeline-comment {
    background-color: #fdf6e3 !important;
    border-color: #93a1a1 !important;
  }
  .timeline-comment-header {
    background-color: #eee8d5 !important;
  }
  .timeline-comment-wrapper {
    border-color: #fdf6e3 !important;
  }
  .files * {
    color: #93a1a1 !important;
  }
  .files tbody tr * {
    background-color: #eee8d5 !important;
    border-color: #fdf6e3 !important;
  }
  .header {
    background-color: #eee8d5 !important;
    border-bottom-color: #93a1a1 !important;
  }
  .header a {
    color: #586e75 !important;
  }
  .lang {
    color: #586e75 !important;
  }
  .js-directory-link {
    color: #268bd2 !important;
  }
  .js-site-search-form input {
    background-color: #fdf6e3 !important;
    border-color: #93a1a1 !important;
  }
  .notifications-list a {
    color: #657b83 !important;
  }
  .octicon,
  .octicon-repo {
    color: #657b83 !important;
  }
  .octicon,
  .octicon.octicon-git-compare,
  .octicon-repo-forked {
    color: #586e75 !important;
  }
  .octicon.type-icon-state-closed,
  .octicon.octicon-git-compare.type-icon-state-closed,
  .octicon-repo-forked.type-icon-state-closed {
    color: #dc322f !important;
  }
  .octicon.type-icon-state-merged,
  .octicon.octicon-git-compare.type-icon-state-merged,
  .octicon-repo-forked.type-icon-state-merged {
    color: #6c71c4 !important;
  }
  .octicon.type-icon-state-open,
  .octicon.octicon-git-compare.type-icon-state-open,
  .octicon-repo-forked.type-icon-state-open {
    color: #859900 !important;
  }
  .repository-description {
    color: #657b83 !important;
  }
  .repository-meta .edit-repository-meta label {
    color: #657b83 !important;
  }
  .repository-sidebar {
    background-color: #fdf6e3 !important;
  }
  .thread-subscription-status {
    background-color: #fdf6e3 !important;
  }
  .sunken-menu {
    background-image: linear-gradient(to right, #fdf6e3 0%, #eee8d5 8px) !important;
    box-shadow: 1px 0px 0px #eee8d5 inset;
  }
  .sunken-menu:before {
    background-image: linear-gradient(#fdf6e3, rgba(238,213,232,0)) !important;
  }
  .sunken-menu:after {
    background-image: linear-gradient(rgba(238,213,232,0), #fdf6e3) !important;
  }
  .sunken-menu-item.selected {
    background-color: #eee8d5 !important;
    color: #586e75 !important;
  }
  .sunken-menu-item.selected:after {
    background-color: #cb4b16 !important;
  }
  .sunken-menu-separator {
    background-image: radial-gradient(farthest-side at left top, #eee8d5, rgba(238,213,232,0));
  }
  .state {
    color: #586e75 !important;
  }
  .state-closed {
    background-color: #dc322f !important;
  }
  .state-open {
    background-color: #859900 !important;
  }
  .tabnav-tab {
    border-color: transparent !important;
  }
  .tabnav-tab.selected {
    background-color: #fdf6e3 !important;
    border-color: #eee8d5 !important;
  }
  .blob-code {
    color: #657b83 !important;
  }
  .blob-num {
    color: #93a1a1 !important;
  }
  .file {
    color: #657b83 !important;
  }
  .pl-c {
    color: #93a1a1 !important;
  }
  .pl-c1 {
    color: #268bd2 !important;
  }
  .pl-e {
    color: #b58900 !important;
  }
  .pl-en {
    color: #268bd2 !important;
  }
  .pl-k {
    color: #859900 !important;
    font-weight: bold !important;
  }
  .pl-pds {
    color: #2aa198 !important;
  }
  .pl-s {
    color: #2aa198 !important;
  }
  .pl-smi {
    color: #657b83 !important;
  }
  .pl-v {
    color: #859900 !important;
    font-weight: bold !important;
  }
}

