@-moz-document domain("github.com") {
  * {
    border-color: #657b83 !important;
  }
  a {
    color: #268bd2 !important;
  }
  body {
    background-color: #002b36 !important;
    color: #839496 !important;
  }
  input,
  .input-mini,
  .input-contrast,
  input.input-contrast,
  textarea,
  .comment-form-textarea * {
    background-color: #073642 !important;
    color: #839496 !important;
  }
  .boxed-group,
  .boxed-group * {
    background-color: #002b36 !important;
  }
  .breadcrumb strong.final-path {
    color: #839496 !important;
  }
  .btn {
    background-image: linear-gradient(#586e75, #073642) !important;
    color: #93a1a1 !important;
  }
  .btn-primary {
    background-color: #859900 !important;
    background-image: linear-gradient(#859900, #788a00) !important;
    color: #93a1a1 !important;
  }
  .contrib-number {
    color: #93a1a1 !important;
  }
  .counter {
    background-color: #586e75 !important;
    color: #93a1a1 !important;
  }
  .file-header {
    background-color: #073642 !important;
  }
  .file-history-tease .participation {
    background-color: #002b36 !important;
  }
  .file-wrap * {
    background-color: #002b36 !important;
    color: #839496 !important;
  }
  .filter-item {
    color: #839496 !important;
  }
  .filter-item.selected {
    background-color: #073642 !important;
    color: #93a1a1 !important;
  }
  .flash {
    background-color: #073642 !important;
    color: #93a1a1 !important;
  }
  .hidden-text-expander a {
    background-color: #073642 !important;
  }
  .issue-meta {
    color: #586e75 !important;
  }
  .issues-listing {
    background-color: #002b36 !important;
  }
  .issues-listing a {
    color: #839496 !important;
  }
  .markdown-body a {
    color: #268bd2 !important;
  }
  .markdown-body code,
  .markdown-body pre {
    background-color: #073642 !important;
  }
  .new-user-avatar-cta {
    background-color: #073642 !important;
    color: #93a1a1 !important;
  }
  .progress-bar {
    background-color: #586e75 !important;
  }
  .social-count {
    background-color: #073642 !important;
    color: #93a1a1 !important;
  }
  .scope-badge {
    background-color: #586e75 !important;
    color: #93a1a1 !important;
  }
  .subnav-item.selected {
    background-color: #073642 !important;
  }
  .stats-switcher-wrapper {
    background-color: #002b36 !important;
  }
  .table-list-header-toggle .btn-link {
    color: #586e75 !important;
  }
  .table-list-header-toggle .btn-link.selected {
    color: #839496 !important;
  }
  .text-emphasized {
    color: #93a1a1 !important;
  }
  .text-diff-added {
    color: #859900 !important;
  }
  .text-diff-deleted {
    color: #dc322f !important;
  }
  .branch-action-body {
    background-color: #073642 !important;
  }
  .branch-action-state-clean .branch-action-icon {
    background-color: #859900 !important;
  }
  .commit,
  .commit-meta {
    background-color: #002b36 !important;
  }
  .commit-ref {
    background-color: #073642 !important;
  }
  .commit-tease,
  .commit-title {
    background-color: #073642 !important;
  }
  .commit-tease *,
  .commit-title *,
  .commit-tease .sha-block,
  .commit-title .sha-block {
    background-color: #073642 !important;
    color: #586e75 !important;
  }
  .commit-tease a,
  .commit-title a {
    color: #839496 !important;
  }
  .commit-tease .sha,
  .commit-title .sha {
    color: #839496 !important;
  }
  .conversation-list-heading .inner {
    background-color: #002b36 !important;
  }
  .comment-form-head.tabnav {
    background-color: #002b36 !important;
  }
  .discussion-timeline-actions {
    background-color: #002b36 !important;
  }
  .drag-and-drop {
    background-color: #073642 !important;
  }
  .timeline-comment {
    background-color: #002b36 !important;
  }
  .timeline-comment-header {
    background-color: #073642 !important;
  }
  .files * {
    color: #586e75 !important;
  }
  .files tbody tr:nth-child(odd) * {
    background-color: #073642 !important;
  }
  .header {
    background-color: #002b36 !important;
  }
  .header a {
    color: #93a1a1 !important;
  }
  .lang {
    color: #93a1a1 !important;
  }
  .js-directory-link {
    color: #268bd2 !important;
  }
  .js-site-search-form * {
    background-color: #073642 !important;
    border-color: #657b83 !important;
  }
  .notifications-list a {
    color: #839496 !important;
  }
  .octicon,
  .octicon-repo {
    color: #839496 !important;
  }
  .octicon,
  .octicon.octicon-git-compare,
  .octicon-repo-forked {
    color: #93a1a1 !important;
  }
  .octicon.type-icon-state-closed,
  .octicon.octicon-git-compare.type-icon-state-closed,
  .octicon-repo-forked.type-icon-state-closed {
    color: #dc322f !important;
  }
  .octicon.type-icon-state-merged,
  .octicon.octicon-git-compare.type-icon-state-merged,
  .octicon-repo-forked.type-icon-state-merged {
    color: #6c71c4 !important;
  }
  .octicon.type-icon-state-open,
  .octicon.octicon-git-compare.type-icon-state-open,
  .octicon-repo-forked.type-icon-state-open {
    color: #859900 !important;
  }
  .repository-description {
    color: #839496 !important;
  }
  .repository-meta .edit-repository-meta label {
    color: #839496 !important;
  }
  .repository-sidebar {
    background-color: #002b36 !important;
  }
  .thread-subscription-status {
    background-color: #002b36 !important;
  }
  .sunken-menu {
    background-image: linear-gradient(to right, #002b36 0%, #073642 8px) !important;
    box-shadow: 1px 0px 0px #073642 inset;
  }
  .sunken-menu:before {
    background-image: linear-gradient(#002b36, rgba(7,66,54,0)) !important;
  }
  .sunken-menu:after {
    background-image: linear-gradient(rgba(7,66,54,0), #002b36) !important;
  }
  .sunken-menu-item.selected {
    background-color: #073642 !important;
    color: #93a1a1 !important;
  }
  .sunken-menu-item.selected:after {
    background-color: #cb4b16 !important;
  }
  .sunken-menu-separator {
    background-image: radial-gradient(farthest-side at left top, #073642, rgba(7,66,54,0));
  }
  .state .octicon {
    color: #93a1a1 !important;
  }
  .state-closed {
    background-color: #dc322f !important;
  }
  .state-open {
    background-color: #859900 !important;
  }
  .tabnav-tab {
    background-color: #002b36 !important;
    border-color: transparent transparent #657b83 !important;
    color: #839496 !important;
  }
  .tabnav-tab.selected {
    border-color: #657b83 !important;
  }
  .blob-code {
    color: #839496 !important;
  }
  .blob-num {
    color: #586e75 !important;
  }
  .file {
    color: #839496 !important;
  }
  .pl-c {
    color: #586e75 !important;
  }
  .pl-c1 {
    color: #268bd2 !important;
  }
  .pl-e {
    color: #b58900 !important;
  }
  .pl-en {
    color: #268bd2 !important;
  }
  .pl-k {
    color: #859900 !important;
    font-weight: bold !important;
  }
  .pl-pds {
    color: #2aa198 !important;
  }
  .pl-s {
    color: #2aa198 !important;
  }
  .pl-smi {
    color: #839496 !important;
  }
  .pl-v {
    color: #859900 !important;
    font-weight: bold !important;
  }
}

