// * solarized.less

// ** Solarized colors
// From https://github.com/altercation/solarized
@base03: #002b36;
@base02: #073642;
@base01: #586e75;
@base00: #657b83;
@base0: #839496;
@base1: #93a1a1;
@base2: #eee8d5;
@base3: #fdf6e3;
@yellow: #b58900;
@orange: #cb4b16;
@red: #dc322f;
@magenta: #d33682;
@violet: #6c71c4;
@blue: #268bd2;
@cyan: #2aa198;
@green: #859900;

// ** Mixins
.a-color() {
    color: @blue !important;
}
.background-color() {
    background-color: @color-background !important;
}
.background-color(blue) {
    background-color: @blue !important;
}
.background-color(green) {
    background-color: @green !important;
}
.background-color(highlight) {
    background-color: @color-background-highlight !important;
}
.background-color(highlight-extra) {
    background-color: @color-background-highlight-extra !important;
}
.background-color(orange) {
    background-color: @orange !important;
}
.bold() {
    font-weight: bold !important;
}
.border-color() {
    border-color: @color-border !important;
}
.box-shadow() {
    box-shadow: 1px 0px 0px @color-background-highlight inset !important;
}
.text-color() {
    color: @color-text !important;
}
.text-color(blue) {
    color: @blue !important;
}
.text-color(comment) {
    color: @color-text-comment !important;
}
.text-color(cyan) {
    color: @cyan !important;
}
.text-color(green) {
    color: @green !important;
}
.text-color(emphasized) {
    color: @color-text-emphasized !important;
}
.text-color(magenta) {
    color: @magenta !important;
}
.text-color(orange) {
    color: @orange !important;
}
.text-color(red) {
    color: @red !important;
}
.text-color(violet) {
    color: @violet !important;
}
.text-color(yellow) {
    color: @yellow !important;
}

// ** HTML elements

// *** All elements
* {
    .border-color;
}

// *** Specific elements
a {
    .a-color;
}
body {
    .background-color;
    .text-color;
}
input, .input-mini, .input-contrast, input.input-contrast {
    .background-color(highlight);
    .text-color;
}

// ** GitHub classes
.boxed-group, .boxed-group * {
    .background-color;
}
.breadcrumb strong.final-path {
    .text-color;
}
.btn {
    background-image: linear-gradient(@color-background-highlight-extra, @color-background-highlight) !important;
    .text-color(emphasized);
}
.btn-primary {
    .background-color(green);
    background-image: linear-gradient(@green,
				      darken(@green, 10%))
				     !important;
    .text-color;
}
.contrib-number {
    .text-color(emphasized);
}
.counter {
    .background-color(highlight-extra);
    .text-color(emphasized);
}
.file-header {
    .background-color(highlight)
}
.file-history-tease .participation {
    .background-color;
}
.file-wrap * {
    .background-color;
    .text-color;
}
.filter-item {
    .text-color;

    &.selected {
	.background-color(highlight);
	.text-color(emphasized);
    }
}
.flash {
    .background-color(highlight);
    .text-color(emphasized);
}
.hidden-text-expander a {
    .background-color(highlight);
}
.issue-meta  {
    .text-color(comment);
}
.issues-listing * {
    .background-color;

    a {
	.text-color;
    }
}
.markdown-body {
    code, pre {
	.background-color(highlight);
    }
}
.new-user-avatar-cta {
    .background-color(highlight);
    .text-color(emphasized);
}
.octicon, .octicon-repo-forked {
    .text-color(emphasized);

    &.type-icon-state-closed {
	.text-color(red);
    }
    &.type-icon-state-merged {
	.text-color(violet);
    }
    &.type-icon-state-open {
	.text-color(green);
    }

}
.social-count {
    .background-color(highlight);
    .text-color(emphasized);
}
.scope-badge {
    .background-color(highlight-extra);
    .text-color(emphasized);
}
.subnav-item.selected {
    .background-color(highlight);
}
.stats-switcher-wrapper {
    .background-color;
}
.table-list-header-toggle .btn-link {
    .text-color(comment);

    &.selected {
	.text-color;
    }
}
.text-emphasized {
    .text-color(emphasized);
}
.text-diff-added {
    .text-color(green);
}
.text-diff-deleted {
    .text-color(red);
}

// *** branch
.branch-action-body {
    .background-color(highlight);
}
.branch-action-state-clean .branch-action-icon {
    background-color: @green !important;
}

// *** commit
.commit, .commit-meta {
    .background-color;
}
.commit-ref {
    .background-color(highlight);
}
.commit-tease, .commit-title {
    .background-color(highlight);

    *, .sha-block {
	.background-color(highlight);
	.text-color(comment);
    }
    a {
	.text-color;
    }
    .sha {
	.text-color;
    }
}

// *** conversation list
.conversation-list-heading {
    .inner {
	.background-color;
    }
}
// *** Discussions
.comment-form-head.tabnav {
    .background-color;
}
.discussion-timeline-actions {
    .background-color;
}
.drag-and-drop {
    .background-color(highlight);
}
.timeline-comment {
    .background-color;
}
.timeline-comment-header {
    .background-color(highlight);
}
// *** header
.header {
    .background-color;

    a {
	.text-color(emphasized);
    }
}
.lang {
    .text-color(emphasized);
}
.octicon, .octicon-repo {
    .text-color;
}


// *** js
.js-directory-link {
    .a-color;
}
.js-site-search-form * {
    .background-color(highlight);
    .border-color;
}


// *** notifications
.notifications-list {
    a {
	.text-color;
    }
}
// *** sidebar
.repository-sidebar {
    .background-color;
}
.thread-subscription-status {
    .background-color;
}

// **** sunken-menu
.sunken-menu {
    background-image: linear-gradient(to right,
				      @color-background 0%,
				      @color-background-highlight 8px) !important;
    box-shadow: 1px 0px 0px @color-background-highlight inset;

    &:before {
	background-image: linear-gradient(@color-background,
					  rgba(red(@color-background-highlight),
					       blue(@color-background-highlight),
					       green(@color-background-highlight),
					       0))
					 !important;
    }
    &:after {
	background-image: linear-gradient(rgba(red(@color-background-highlight),
					       blue(@color-background-highlight),
					       green(@color-background-highlight),
					       0),
					  @color-background)
					 !important;
    }
}
.sunken-menu-item {
    &.selected {
	.background-color(highlight);
	.text-color(emphasized);

	&:after {
	    .background-color(orange);
	}
    }
}
.sunken-menu-separator {
    background-image: radial-gradient(farthest-side at left top,
				      @color-background-highlight,
				      rgba(red(@color-background-highlight),
					   blue(@color-background-highlight),
					   green(@color-background-highlight),
					   0));
}


// *** states
.state .octicon {
    .text-color(emphasized);
}
.state-closed {
    background-color: @red !important;
}
.state-open {
    background-color: @green !important;
}

// *** tabnav
.tabnav-tab {
    .background-color;
    border-color: transparent transparent @color-border !important;
    .text-color;

    &.selected {
	.border-color;
    }
}

// *** Code syntax highlighting
.blob-code {
    .text-color;
}
.blob-num {
    .text-color(comment);
}
.file {
    .text-color;
}
.pl-c {
    .text-color(comment);
}
.pl-c1 {
    .text-color(blue);
}
.pl-e {
    .text-color(yellow);
}
.pl-en {
    .text-color(blue);
}
.pl-k {
    .text-color(green);
    .bold;
}
.pl-pds {
    .text-color(cyan);
}
.pl-s {
    .text-color(cyan);
}
.pl-smi {
    .text-color;
}
.pl-v {
    .text-color(green);
    .bold;
}